# Common dependencies
-r requirements-common.txt

# Dependencies for x86_64 CPUs
torch == 2.4.0+cpu; platform_machine != "s390x"
torchvision; platform_machine != "s390x"   # required for the image processor of phi3v, this must be updated alongside torch
